html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

div.MuiAutocomplete-popper {
    z-index: 4147483647
}

// #hubspot-messages-iframe-container {
//     margin-bottom: 180px;
// }

// @media (min-width: 768px) {
//     #hubspot-messages-iframe-container {
//         margin-bottom: 80px;
//     }
// }
